<section>
    <form>
        <input type="text" #texto placeholder="Filtrar por cidade">
        <button class="primary" type="button" (click)="listarImoveisComFiltro(texto.value)" (keydown.enter)="listarImoveisComFiltro(texto.value)"> Filtar</button>
    </form>

    <section class="results">
        @for(imovel of imoveisDB; track $index){
        <section class="listing">
            <img class="listing-photo" src="{{imovel.url_foto}}" alt="Foto">
            <h2 class="listing-heading">{{imovel.nome}}</h2>
            <p class="listing-location">{{imovel.cidade}} - {{imovel.estado}}</p>
            <a [routerLink] = "['/detalhes', imovel.id]">Veja mais</a>
        </section>

        }

    </section>

</section>